.schedule {
  position: relative;
  display: block;
}
.s-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  .smf {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }
  h2 {
    font-family: "GmarketSansMedium";
    font-size: 22px;
    font-weight: 300;
    line-height: calc(32 / 22);
    padding: 90px 0 110px 0;
  }
  .s-li {
    > li {
      display: flex;
      align-items: center;
      margin-bottom: 35px;
      .pp {
        width: 162px;
        height: 43px;
        border-radius: 20px;
        background: #364b4d;
        line-height: 43px;
        color: #fff;
        margin-right: 25px;
      }
      > p {
        font-size: 22px;
        line-height: 22px;
        text-align: left;
        line-height: 32px;
      }
    }
  }
}
