.schedule {
  position: relative;
  display: block;
}
.s-wrap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  .smf {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }
  h2 {
    font-family: "GmarketSansMedium";
    font-size: 22px;
    font-weight: 300;
    padding: 90px 0 110px 0;
  }
  .s-li {
    > li {
      display: flex;
      .pp {
        display: inline-block;
        width: 162px;
        height: 43px;
        border-radius: 20px;
        background: #364b4d;
        line-height: 45px;
        margin: 0 35px 25px 0;
        color: #fff;
      }
    }
  }
}
