@charset "utf-8";
@import url(../css/font.css);
@mixin gmarket {
  font-family: "GmarketSansMedium";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
image {
  vertical-align: middle;
  border: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  word-break: break-all;
}

// 공통요소
.clearfix::after {
  content: "";
  width: 100%;
  clear: both;
}

.wrap {
  position: relative;
  display: block;
}
@import "header";
@import "visual";
@import "schesule";
@import "Stage";
@import "notice";
@import "gallery";
@import "footer";
